USE [MyProjectDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/12/2020 6:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 9/12/2020 6:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa](
	[MaHangHoa] [uniqueidentifier] NOT NULL,
	[TenHh] [nvarchar](100) NOT NULL,
	[DonGia] [float] NOT NULL,
	[GiamGia] [tinyint] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[Hinh] [nvarchar](max) NULL,
	[ChiTiet] [nvarchar](max) NULL,
	[MoTa] [nvarchar](200) NULL,
	[MaLoai] [int] NULL,
	[DiemReview] [float] NULL,
 CONSTRAINT [PK_HangHoa] PRIMARY KEY CLUSTERED 
(
	[MaHangHoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangHoaTag]    Script Date: 9/12/2020 6:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoaTag](
	[TagKey] [nvarchar](50) NOT NULL,
	[MaHangHoa] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_HangHoaTag] PRIMARY KEY CLUSTERED 
(
	[TagKey] ASC,
	[MaHangHoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhPhus]    Script Date: 9/12/2020 6:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhPhus](
	[Id] [uniqueidentifier] NOT NULL,
	[Url] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
	[MaHangHoa] [uniqueidentifier] NULL,
 CONSTRAINT [PK_HinhPhus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loai]    Script Date: 9/12/2020 6:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[MaLoaiCha] [int] NULL,
 CONSTRAINT [PK_Loai] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewHangHoas]    Script Date: 9/12/2020 6:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewHangHoas](
	[Id] [uniqueidentifier] NOT NULL,
	[NgayReview] [datetime2](7) NOT NULL,
	[DiemReview] [tinyint] NOT NULL,
	[TieuChi] [int] NOT NULL,
	[MaHangHoa] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ReviewHangHoas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 9/12/2020 6:28:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Criteria] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 9/12/2020 6:28:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[TagKey] [nvarchar](50) NOT NULL,
	[TagValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[TagKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200908122858_DbInit', N'3.1.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200910124609_Update_Field_ChiTiet_HangHoa', N'3.1.4')
SET IDENTITY_INSERT [dbo].[Loai] ON 

INSERT [dbo].[Loai] ([MaLoai], [TenLoai], [MoTa], [MaLoaiCha]) VALUES (1, N'Điện máy - Điện lạnh', N'Điện máy - Điện lạnh', NULL)
INSERT [dbo].[Loai] ([MaLoai], [TenLoai], [MoTa], [MaLoaiCha]) VALUES (2, N'Điện máy', N'Điện máy', 1)
INSERT [dbo].[Loai] ([MaLoai], [TenLoai], [MoTa], [MaLoaiCha]) VALUES (3, N'Điện lạnh', N'Điện lạnh', 1)
SET IDENTITY_INSERT [dbo].[Loai] OFF
ALTER TABLE [dbo].[HangHoa] ADD  DEFAULT (newid()) FOR [MaHangHoa]
GO
ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD  CONSTRAINT [FK_HangHoa_Loai_MaLoai] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[Loai] ([MaLoai])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HangHoa] CHECK CONSTRAINT [FK_HangHoa_Loai_MaLoai]
GO
ALTER TABLE [dbo].[HangHoaTag]  WITH CHECK ADD  CONSTRAINT [FK_HangHoaTag_HangHoa_MaHangHoa] FOREIGN KEY([MaHangHoa])
REFERENCES [dbo].[HangHoa] ([MaHangHoa])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HangHoaTag] CHECK CONSTRAINT [FK_HangHoaTag_HangHoa_MaHangHoa]
GO
ALTER TABLE [dbo].[HangHoaTag]  WITH CHECK ADD  CONSTRAINT [FK_HangHoaTag_Tag_TagKey] FOREIGN KEY([TagKey])
REFERENCES [dbo].[Tag] ([TagKey])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HangHoaTag] CHECK CONSTRAINT [FK_HangHoaTag_Tag_TagKey]
GO
ALTER TABLE [dbo].[HinhPhus]  WITH CHECK ADD  CONSTRAINT [FK_HinhPhus_HangHoa_MaHangHoa] FOREIGN KEY([MaHangHoa])
REFERENCES [dbo].[HangHoa] ([MaHangHoa])
GO
ALTER TABLE [dbo].[HinhPhus] CHECK CONSTRAINT [FK_HinhPhus_HangHoa_MaHangHoa]
GO
ALTER TABLE [dbo].[Loai]  WITH CHECK ADD  CONSTRAINT [FK_Loai_Loai_MaLoaiCha] FOREIGN KEY([MaLoaiCha])
REFERENCES [dbo].[Loai] ([MaLoai])
GO
ALTER TABLE [dbo].[Loai] CHECK CONSTRAINT [FK_Loai_Loai_MaLoaiCha]
GO
ALTER TABLE [dbo].[ReviewHangHoas]  WITH CHECK ADD  CONSTRAINT [FK_ReviewHangHoas_HangHoa_MaHangHoa] FOREIGN KEY([MaHangHoa])
REFERENCES [dbo].[HangHoa] ([MaHangHoa])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReviewHangHoas] CHECK CONSTRAINT [FK_ReviewHangHoas_HangHoa_MaHangHoa]
GO
ALTER TABLE [dbo].[ReviewHangHoas]  WITH CHECK ADD  CONSTRAINT [FK_ReviewHangHoas_Reviews_TieuChi] FOREIGN KEY([TieuChi])
REFERENCES [dbo].[Reviews] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReviewHangHoas] CHECK CONSTRAINT [FK_ReviewHangHoas_Reviews_TieuChi]
GO
